---
import "../css/style.css";
import Shelf from "../components/Shelf.astro";
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout> 
	<div>
		<Shelf text="Spotify Playlist">
			<Card img ="https://picsum.photos/id/65/150/150" subheader="Todays top music" text="Jung Kook is on top of the Hottets 50!"/>
			<Card img ="https://picsum.photos/id/68/150/150" subheader="RapCaviar" text="New music from frake wave an..."/>
			<Card img ="https://picsum.photos/id/76/150/150" subheader="All Out 2010s" text="The biggest songs of the 2010s"/>
			<Card img ="https://picsum.photos/id/240/150/150" subheader="Rock Classics" text="Rock legends & epic songs thant continue t..."/>
			<Card img ="https://picsum.photos/id/331/150/150" subheader="Chill Hits" text="Kick back to the best new recent chill..."/>
			<Card img ="https://picsum.photos/id/325/150/150" subheader="Viva Latino" text="Today's topLatin hits, elvando nuestra..."/>
		</Shelf>

			


		<Shelf class="margin"  text="Focus">
			<Card img ="https://picsum.photos/id/338/150/150" subheader="Todays top music" text="Jung Kook is on top of the Hottets 50!"/>
			<Card img ="https://picsum.photos/id/349/150/150" subheader="RapCaviar" text="New music from frake wave an..."/>
			<Card img ="https://picsum.photos/id/364/150/150" subheader="All Out 2010s" text="The biggest songs of the 2010s"/>
			<Card img ="https://picsum.photos/id/334/150/150" subheader="Mega Hit Mix" text="A mega mix of 75 favorites from the las.."/>
			<Card img ="https://picsum.photos/id/65/150/150" subheader="Chill Hits" text="Kick back to the best new recent chill..."/>
			<Card  img ="https://picsum.photos/id/68/150/150"  subheader="Viva Latino" text="Today's topLatin hits, elvando nuestra..."/>
		</Shelf>
	</div>
</MainLayout>

<!--

	Få playbutton til at reagere med card, så når der hover Card bliver play-btn vist 
	
	Få Spotify Playlist til at være på linje med Show all

	Få ikon til Your Library og text Your Library samt + til at være på samme linje

	Få cookies og english button til at rykke ned

	Ret text color i footeren

	Få text i cards til at være oven på billedet

	Få footer til at have index-z og blive i bunden af siden, evt sticky footer

 -->