---
---

<div class="CookiesAndLanguage"> 
    <p>Cookies</p>
    <button> 
        <img src="/icons/globe-icon.svg" alt="globus ikon"> English 
    </button>
</div>

<style>
 

    .CookiesAndLanguage {
       position:absolute;
        bottom:10;
        color:#F0F0F0;
        padding:10px;
        padding-top: 180px;
    }
    .CookiesAndLanguage p{
        padding-bottom: 10px;
        font-size: 12px;
        color: #696868;
    }
    .CookiesAndLanguage button{
        border:1px #373636 solid;
        border-radius: 20px;
        padding:6px 12px;
        color: #F0F0F0;
        background-color: #252525;
      
    }
    </style>