---
---
<div class="CreatePlaylist_Box">
    <h5> Create Playlist</h5>
    <p> text</p>
    <button> Create Playlist</button>
</div>

    <!-- til Browse Podcast
        <h5> lets' find... <h5>
        <p> text </p>
        <button> Browse Podcast </button>
}
     -->

<style> 
    h5, p{
        color:#F0F0F0;
    }
    .CreatePlaylist_Box{
        background-color: #2E2E2E;
        border-radius: 5px;
        margin:30px 10px 0 10px;
        padding-left:12px;
    }
    .CreatePlaylist_Box h5{
        padding-top: 12px;
    }
    .CreatePlaylist_Box button{
        margin-bottom: 12px;
        border-radius: 20px;
        padding:6px 8px;
        border:none;
        background:#F0F0F0;
        cursor: pointer;
    }
</style>