---
---
<div class="footer">
    <div class="footer_p">
        <p>PREVIEW OF SPOTIFY</p>
        <p>Sign up to get unlimited songs and podcasts with occasional ads. No credit card needed.</p>
    </div>
    
    <div>
        <button class="signUpFree">Sign op for free </button>
    </div>
</div>
    <style> 
    
    .signUpFree{
        margin-top:30px;
        margin-right: 10px;
        border-radius: 20px;
        padding:6px 8px;
        border:none;
        font-weight: 600;
    }
    .footer_p{
        margin-left:10px;
        color: #F0F0F0;
    }

    </style>