---
import SearchBox from "../components/SearchBox.astro";
---
<div class="Header">
    <div>
        <button class="pil">
            <img src="/icons/back-btn.svg" alt="ikon pil venstre knap">
        </button>
    
        
        <button class="pil">
            <img src="/icons/forward-btn.svg" alt="ikon pil højre knap">
        </button>
        <SearchBox />
    </div>

 
    <div>
        <button class="SignUp">Sign up </button>
        <button class="LoginIn">Login in </button>
    </div>
</div>

<style> 
    .Header{
        display:flex;
        justify-content: space-between;
        background-color: rgb(27, 25, 25);
        padding: 10px 0;
    }

    .pil{
        margin-left:10px;
        border-radius: 50%;
        padding:4px 6px;
        background-color: #F0F0F0;
        margin-bottom: 4px;
        cursor: pointer;
    }
   .LoginIn{
    margin-left:10px;
    background-color: #F0F0F0;
 
   }
   button{

    border:none;
   }
   .SignUp, .LoginIn{
    padding:10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
   }
   .SignUp{
    background-color: #3C3C3C;
    color:#F0F0F0;
   }
</style>