---
---

<img class="logo" src="/icons/logo.svg" alt="spotify logo"><!--Spotify logo -->

<div class="home"> 
    <img src="/icons/home-filled.svg" alt="home logo"> <!--Ikon home knap -->
    <p>Home</p>
</div>

<div class="search"> 
    <img src="/icons/search-icon.svg" alt="search logo"> <!--Ikon search knap -->
    <p>Search</p>
</div>

<style>
.logo{
    width:70px;
    margin-bottom:10px;
    margin-left:1px;
}

.home{
    display:flex;
    cursor: pointer;
   
}
.home p{
    margin-left:10px;
    color:#F0F0F0;
}
.search{
    display:flex;
    cursor: pointer;

}
.search p{
    margin-left:10px;
    color:#9E9E9E; /*font #F0F0F bruges til hover*/ 
}
</style>