---
---

<div class="SearchBox">
<img src="/icons/search-icon.svg" alt="search logo">
<input placeholder="What do you want to listen to?"/>


</div>

<style>
.SearchBox{
    border-radius: 20px;
    display: inline-flex;
    margin-left: 10px;
    min-width:320px;
    background-color: #f0f0f0;
    }

input{
    padding:6px 8px;
    background-color: #f0f0f0;
    border:none;
    float: left;
    height: 100%;
    margin-top: 4px;
}
.SearchBox img{
    margin: 6px;
    float: left;
}
</style>